.bg-roxo{
  background: rgb(163, 20, 163);
}

html{
  font-family: "Poppins";
}

body{
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: rgba(185, 21, 235, 0.027);
  position: relative;
}

ul li{
  display: inline-block;
}

ul li a{
  color: rgb(121, 255, 244);
  text-decoration: none;
  padding: 15px;
  display: block;
}

nav ul li:hover{
  background: rgb(255, 157, 247);
}

nav ul ul{
  position: absolute;
  min-width: 200px;
  background: rgb(232, 55, 255);
  display: none;
}

ul ul li{
  display: block;
  background: rgb(221, 15, 248);
}


nav ul li:hover > ul{
  display: block;
}

ul li i{
  color: rgb(0, 255, 242);
  float: right;
  padding-left: 20px;
}

nav div {
  background: rgba(201, 35, 252, 0);
  color: rgb(0, 255, 157);
  font-size: 24px;
  padding: 0.6em;
  cursor: pointer;
  display: none;
}

nav ul ul ul{
  margin-left: 180px;
  position: absolute;
  top: 0;
}

@media(max-width: 768px){
  nav div{
    display: block;
  }

  ul{
    display: none;
    position: static;
    background: rgba(193, 0, 252, 0);
  }

  ul li{
    display: block;
  }

  ul ul{
    position: static;
    background: rgb(255, 125, 201);
  }

}



.bg-fundo-topo{
  background: linear-gradient(to bottom, rgb(252, 22, 22), #fa4cce);
  height: 60vh;
}

.text-roxo{
  color: rgb(135, 0, 189);
  font-family: "Cooper Black";
}

.text-rosa{
  color: rgb(255, 0, 157);
}

.icon-rede-social{
  font-size: 2.5rem;
  color: white;
  background-color: black;
}

.icon-rede-social:hover{
  color: rgb(7, 255, 234);
  cursor: pointer;
  border: none;
}



.original{
  background: rgb(147, 255, 208)
}

.claro{
  background: #fafafa;
  height: 100vh;
}

.escuro{
  background: #303030;
  height: 100vh;
}